version: "3.9"

services:
  scrapy:
    build: .
    command: >
      sh -c "chmod +x runserver.sh;./runserver.sh;"
    volumes:
      - ./logs:/usr/app/logs
      - ./media:/usr/app/media
    ports:
      - 5050:5050
    env_file:
      - .env.local
      
    depends_on:
      - db

  db:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: passwd
    
    ports:
      - 27017:27017
    
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: